* {
  font-family: "Inter", system-ui;
}

body {
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bbf1e0;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;
  padding: 40px;
  img {
    margin-right: 15px;
  }
  h3,
  p {
    margin: 0;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

// .button {
//   background: #ffffff;
//   border: 1px solid #f2f2f2;
//   box-sizing: border-box;
//   border-radius: 8px;
//   height: 32px;
//   width: 32px;
//   cursor: pointer;
// }

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    right: 6px;
    top: 12px;
    width: 20px;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
  }
  .clear:hover {
    opacity: 1;
  }

  input {
    border: 0;
    padding: 12.5px;
    font-size: 16px;
    width: 200px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: fixed;
}

.drawer {
  display: flex;
  flex-direction: column;
  //overflow: auto;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .itemDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
    height:70%;
    .items {
      position: relative;
      overflow: auto;
      margin-bottom: 40px;
    }
  }
  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 30px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 19px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(7px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500px;
  cursor: pointer;
  transition: background 0.1s ease-in-out; //хрен пойми что надо тут

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px 20px 10px 20px;
  p {
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }
  &:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.07);
  }
}

.cartItemImg {
  height: 70px;
  width: 70px;
  background-size: contain;
  background-position: 0 -3px;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

/////// slayder

.container_slider_css {
  margin: 50px auto;
  width: 960px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
.photo_slider_css {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
  width: 100%;
}
@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
img:nth-child(1) {
  animation-delay: 12s;
}
img:nth-child(2) {
  animation-delay: 8s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 0;
}
@media (min-width: 0px) and (max-width: 320px) {
  .container_slider_css {
    width: 80%;
    height: 190px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .container_slider_css {
    width: 80%;
    height: 190px;
  }
}

